<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Password Reset</title>
</head>
<body>
    <h2>Reset your password</h2>

    <p>
        We received a request to reset your password.
    </p>

    <p>
        Click the button below to choose a new password.
    </p>

    <a href="{{ResetLink}}">
        Reset Password
    </a>

    <p>
        This link will expire in 1 hour.
    </p>

    <p>
        If you didn't request a password reset,
        you can safely ignore this email.
    </p>
</body>
</html>